@charset "UTF-8";
/* CSS Document */

.right {
  text-align: right;
  }
.center{
  text-align: center;
  }
.justify{
  text-align: justify;
  }
.justify:after {
  content: "";
  display: inline-block;
  width: 100%;
  }
.inherit{
  text-align: inherit;
  }
